html {
  background-color: rgba(255, 99, 71, 0.5);
}

body {
  padding: 0px;
  margin: 0px;
}

h1 {
  padding: 10px;
  width: 100%;
  background-color: DodgerBlue;
  text-align: center;
  margin: 0px;
  display: block;
  left: 0;
}

#question {
  width: 100%;
  text-align: center;
}

.answer_form {
  margin: auto;
}

#answers {
  margin: auto;
  width: 50%;
  text-align: center;
  display: block;
  line-height: 50px;
  list-style-type:none;
  padding-left: 0;
}

#answers li {
  background-color: white;
  border-radius: 10px;
}

#answers li:hover {
  background-color: DodgerBlue;
}

#answers br {
  line-height: 0;
}

img {
  margin: auto;
  width: 80px;
  height: 80px;
  display: block;
}

img:hover {
  filter: hue-rotate(50deg);
}
